/*-----test01-----*/

body {
  background-color: #123c69;
  font-family: arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  height:100%;
}

/*-------------------- HEADER -----------------*/

header {
  background-color: #eee2dc;
  max-width: 100%;
  margin-top: 0px;
  color: #123c69;
  padding: 5px 5px 0px 10px;
  margin: auto;
}

.header-title {
  max-width: 700px;
  margin: auto;
}

h1 {
  font-family: 'Bree Serif', sans-serif;
  letter-spacing: 3px;
  font-size:24px;
}

.hasBG {
  width:150px;
  height:150px;
  border:none;
  margin: 3px;
}

/*-----Question Line ------- */



.questionLine {
}

.js-question {
  float:left;
  font-family: 'Bree Serif', serif;
  font-size: 24px;
}

.js-score-right {
  color:green;
  font-size:14px;
  font-family:sans-serif;
  min-width: 100px;
  float: right;
  text-align: right;
}

.js-score-wrong {
  color:red;
  font-size:14px;
  font-family: sans-serif;
  min-width: 100px;
  float:right;
  text-align:right;
}



/*-------------- queston BOX -------------------*/

#main{
  max-width:800px;
  margin:auto;
}

.answerList{
  margin:auto;
}

#questionBox{
  background-color: #eee2dc;
  border-radius: 10px;
  padding: 25px;
  color: #ac3b61;
  margin-right: 20px;
  margin-left: 20px;
  margin-top:10px;
  max-width: 700px;
  margin-bottom: 10px;
  font-size:28px;
}

#questionBox img{
  font-size:8px;
}

.js-multiple-choice {
  width: 100%;
  min-height: 140px;
  clear:both;
  height:100%;
  /* display:block; */
  padding-top:15px;
  margin:auto;
}

.button-holder{
    padding-top:50px;
    margin:auto;
    text-align: center;
}

.startQuiz {
  background-color: #ac3b61;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  font-family: 'Bree Serif', serif;
  }

.startQuiz:hover{
    background-color: #c2557a;
  }

.showList {
    background-color: #123c69;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 10px;
    font-family: 'Bree Serif', serif;
    }

.showList:hover, .showList:focus{
      background-color:#2b598a;
    }

.rightAnswer{
  font-size:14px;
  font-family: arial, sans-serif;
  color:#123c69;
}

.rightAnswerName{
  font-size:18px;
  font-weight:700;
  font-family: arial, sans-serif;
  color:#123c69;
}

.js-displayFullList td{
  font-size: 12px;
  text-align: center;
  padding:5px;
  clear:both;
}

.js-displayFullList li{
  font-size: 12px;
  text-align: center;
  padding:5px;
}

.js-displayFullList{
  max-width: 700px;
  padding-top:50px;
}

.js-addAPerson{
  font-family: sans-serif;
  font-size: 14px;
  float:right;
  color:#ac3b61;
}

.personEntry {
  color:black;
  font-size: 12px;
}


ul {
  list-style-type: none;
  list-style: none;
}

ul li {
  display: inline;
  padding:5px;
}

li:hover img.headshot{
      outline: 5px solid #ac3b61;
}

li:focus img.headshot{
      outline: 5px solid #ac3b61;
}

button:hover img.headshot{
        outline: 5px solid #ac3b61;
}

button:focus img.headshot{
      outline: 5px solid #ac3b61;
}

button:hover img.headshot{
      outline: 5px solid #ac3b61;
}

button:focus img.headshot{
      outline: 5px solid #ac3b61;
}

.js-questionCountStatus{
  font-size: 18px;
  font-family: sans-serif;
  color:#ac3b61;
  text-align: center;
  padding-top: 25px;
}

.rightOrWrong{
  text-align: center;
  padding-top:10px;
}

.rightOrWrongRight{
  color:green;
}

.rightOrWrongWrong{
  color:red;
}

/*----------------------------* footer styles * --------------------------- */

footer {
  font-size: 12px;
  font-weight: normal;
  max-width: 700px;
  margin:auto;
  color:white;
}


.copyright {
  display: inline-block;
}

.contact {
  display: inline-block;
  float:right;
}

footer a:link {
  color: white;
}

footer a:visited {
  color:white;
}

/*-------------------PopUp------------------------*/

.keyMap a:link {
  color:#123c69;
  font-size:12px;
}

.keyMap{
  float:right;
}

.popContainer{
  font-size:14px;
  font-weight: normal;
}

#popquestionBox{
  background-color: #eee2dc;
  border-radius: 10px;
  padding: 10px;
  color: #ac3b61;
  margin-right: 10px;
  margin-left: 10px;
  margin-top:10px;
  max-width: 400px;
  margin-bottom: 10px;
  font-size:14px;
}

.popMain li{
  color:#123c69;
  font-weight: normal;
  font-size:14px;
}

.popMain {
  color:#123c69;
  font-weight: normal;
  font-size:14px;
}

.popLi{
  list-style-type: square;
  list-style: square;
  color:#123c69;
}

.popUl {
  list-style-type: square;
  list-style: square;
  color:#123c69;
  dislay: inline-block;
}

/*-------------------testing------------------------*/
.box1{
  background-color: red;
  height:200px;
  width: 200px;
  margin:auto;
}

.box2{
  background-color: blue;
  height:200px;
  width: 200px;
  margin:auto;
}

.js-tryagain{
  margin:auto;
  text-align: center;
}




/*------------------------ Media --------------------------*/

@media (max-width:799px){

  .js-question{
    float:none;
    text-align: center;
  }
  .js-score-right{
    padding-top: 5px;
    text-align: center;
  }
  .js-score-wrong{
    padding-top: 5px;
    text-align: left;
    float:none;
  }
}

@media (max-width:799px){
  #questionBox{
    max-width:600px;
    margin:auto;
  }
}


@media (max-width:799px){
  footer {
    max-width:400px;
    padding-top:5px;
  }

  .copyright{
    display:block;
    text-align: center;
    float:none;
  }
  .contact{
    display: block;
    text-align: center;
    float:none;
  }
}

@media (max-width:700px){
  .headshot{
    width:120px;
    height:120px;
  }
  #questionBox{
    max-width:500px;
    margin:auto;
  }
}
